body {
    background-color: black; /* Color de fondo negro para todo el cuerpo */
    color: white; /* Color de texto blanco para mejor contraste */
}

form {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro para el formulario */
    padding: 20px;
    margin: 50px auto;
    width: 100px;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff; /* Borde blanco para los campos de entrada */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semitransparente blanco para los campos de entrada */
    color: white; /* Color de texto blanco */
}

input[type="submit"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Color de fondo azul para el botón de enviar */
    color: white; /* Color de texto blanco para el botón de enviar */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}
