*{
    box-sizing:border-box;
}

.contenedorFlex{
    display: flex;
    width: 400px;
    flex-direction:row;
    flex-wrap: wrap;

    background-color: rgb(135, 222, 139);
    padding: 10px;
    border: 2px solid  black;
    
}

.contenedorFlexj{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content: center;

    background-color: rgb(63, 126, 177);
    padding: 10px;
    border: 2px solid  black;
    
}
.item{
    background-color: rgb(0, 217, 255);
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
}
.contenedorFlexe{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content: end;

    background-color: rgb(0, 153, 255);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexs{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:start;

    background-color:rgba(9, 95, 110, 0.377);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexes{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:space-around;

    background-color:rgb(13, 82, 7);
    padding: 10px;
    border: 2px solid  rgb(0, 0, 0);
    
}
.contenedorFlexesb{
    display: flex;
    width: 800px;
    flex-direction:row;
    justify-content:space-between;

    background-color:rgb(157, 255, 0);
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexaic{
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background-color:darkgray;
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexaife{
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: row;
    align-items:flex-end;
    background-color:aliceblue;
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexis{
    display: flex;
    width: 800px;
    height: 600px;
    flex-direction: row;
    align-items:stretch;
    background-color:bisque;
    padding: 10px;
    border: 2px solid  black;
    
}
.contenedorFlexnuu{
    display: flex;
    width: 800px;
    height: 400px;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background-color:darkgray;
    padding: 10px;
    border: 2px solid  black;
    text-align: center;
    justify-content: space-around;

}
.item:hover{
    background-color: aquamarine;
    
}


