/* Selector Universal */


*  {
    margin: 0;
    padding: 0;



}



/* Selector de etiqueta */


body{
  background-color: #9DB2BF;
  color: white;




}


/* Selector id */


#contenedor {
 width: 1000px;
 height: 4550px;
 background-color: grey;
 margin: 10px;
 padding: 20px;


}


#encabezado {
 width: 95%;
 background-color: paleturquoise;
 color: black;
 margin: 1em;
 border-radius: 5px;
 text-align: center;




}
#menu {
height: 30px;
background-color: #13DBE1;
color: black;
margin: 1em;
border-radius: 5px;




}
/* Selector de etiqueta para el menu */
ul {
text-align: center;
padding: 10px;


}

li{


 display: inline;
 padding: 10px  30px;
 margin: 3em;



      
}


img:hover {
  width: 17%;
}


li a:hover {

  color:  #d63384;
  font-size: 20px;
  text-emphasis: none;
  list-style: none;
  



}

/* Selector de clase */

.img {
  width: 10%;
  border-radius: 5%;
  justify-items: center;

}


.texto {
  
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 5px    25px;
  color: #000;




}

#pie  {
height: 20px;
background-color: black;
margin: 1.5em;
text-align: center;
padding: 15px;
border-radius: 5px;


}

#pie h4{
  padding: 15px;
  font-size: 30px;
  background-color: gray;
  color: aliceblue;
}

.nav{
  margin-top: 25px;
  text-decoration: none;
}

