.Titulo{
    text-align: center;
}


.Subtitulo{
    margin: 10px;
    text-align: center;
}

.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: rgb(224, 216, 233);
}

@media screen and (max-width:1200px) {
    body{
        background-color: rgba(16, 26, 26, 0.068);
        color: cadetblue;
    }
    .Titulo{

        font: size 30px;
    }
    .img{
        width: 50%;
    }
}

@media screen and (max-width:900px) {
    body{
        background-color: rgb(15, 85, 85);
        color: rgb(132, 208, 243);
    }
    .Titulo{

        font: size 25px;
    }
    .img{
        width: 30%;
    }


}



@media screen and (max-width:600px) {
    body{
        background-color: #000
        
    }
    .Titulo{

        font: size 20px;
    }

    img{
        width: 50%;
    }
    

}
    
