/* Selector Universal */


*  {
    margin: 0;
    padding: 0;



}



/* Selector de etiqueta */


body{
  background-color: #222831;
  color: white;




}


/* Selector id */


#contenedor {
 width: 1000px;
 height: 4550px;
 background-color: grey;
 margin: 10px;
 padding: 20px;


}


#encabezado {
 width: 10%;
 background-color: paleturquoise;
 color: black;
 margin: 1em;
 border-radius: 5px;
 text-align: center;




}
#menu {
height: 30px;
background-color: ghostwhite;
color: black;
margin: 1em;
border-radius: 5px;
border-radius: 10%;




}
/* Selector de etiqueta para el menu */
ul {
text-align: center;
padding: 0;


}

li{


 display: inline;
 padding: 10px  30px;
 margin: 3em;



      
}


img:hover {
  width: 22%;
}


li a:hover {

  color: white;
  font-size: 20px;
  text-emphasis: none;
  list-style: none;
  



}

/* Selector de clase */

.img {
  width: 10%;
  border-radius: 5%;
  justify-items: center;

}


.texto {
  
  text-align: justify;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  padding: 5px    25px;
  color: #000;




}

#pie  {
height: 20px;
background-color: black;
margin: 1.5em;
text-align: center;
padding: 15px;
border-radius: 5px;


}

#pie h4{
  padding: 15px;
  font-size: 30px;
  background-color: gray;
  color: aliceblue;
}

.banner{
 margin-top: 100px;

}

.nav{
margin-top: 25px;


}

.nav ul li a {
  text-decoration: none;
  background-color: #adb5bd;
  color: white;
  padding: 15px;
  width: 30%;
  border-radius: 10px;

  
  
  }
